<html>
<head>
<title>Example Template</title>
</head>
<body>
    {% if myvar %}
    <h1>The variable I passed in is: {{ myvar }}</h1>
    <a href="/home">Home</a>
    <a href="/biography">Biography</a>
    <a href="/about">About</a>
    {% else %}
    <h1>No variable passed in</h1>
    {% endif %}
    <h1>This is an example template</h1>

    <p>blah blah blah</p>

    <a href="https://www.google.com/">Linkur á Google</a>
    {% for link in links %}
        <a href="{{ link }}">Here is a link</a>

    {% endfor %}

    <h3>End of template</h3>
</body>
</html>